@import '../../../styles/pallete.scss';

.container {
  margin-inline: $page-margin;
  margin-top: $page-margin;
  flex-grow: 1;

  header {
    display: flex;
    align-items: center;
    gap: 1em;

    .back-button {
      background: none;
      border: none;
      cursor: pointer;
    }

    .button-switch {
      margin-left: auto;
      font-size: 0.8em;
    }
  }

  .prod-summary-container {
    padding-top: 2em;
    display: flex;
    gap: 1em;
    margin-bottom: 0.5em;

    h2 {
      font-weight: 600;
    }

    h2:nth-child(2) {
      font-weight: 400;
    }

    & h2:first-child {
      margin-right: auto;
    }
  }

  .actions {
    position: absolute;
    bottom: $page-margin;
    right: $page-margin;
    z-index: 1;
  }

  .filters {
    margin-top: 1em;
  }
}
