@import '../../styles/pallete.scss';

.table {
  transform: translate3d(0, 0, 0);
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
  overflow: hidden;
  border-collapse: collapse;
  font-size: 1.2em;

  button {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    display: grid;
    place-items: center;

    svg {
      width: 1.2em;
      path {
        fill: $primary;
      }
    }
  }

  table,
  th,
  td {
    padding: 0.2em 0.4em;
    border: 2px solid $black;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: darken(white, 15%);
  }

  th {
    background-color: $primary-darker;
    color: $offwhite;
  }
}
